.header {
    padding-top: 25px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    justify-content: right;
}

.header-nav {
    margin-right: 16px;
}

.header-list {
    display: flex;

}

.header-item {
    margin-left: 40px;
}

.header-item-link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.18px;
    color: #525252;
}