.intro {
    margin-top: 126px;
}

.intro-text-about {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 2.56px;
    width: 825px;
    margin-left: 2px;

}
.intro-text-gray{
    color: #757575;
}
