.service {
    margin-top: 206px;
    margin-left: 3px;
}

.service-container {
    display: flex;
    justify-content: space-between;
}

.service-head-services {
    width: 588px;
}

.service-list {
    margin-top: 63px;
}

.service-item {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin-top: 23px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(240, 240, 240, 1);

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.service-titleb {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.64px;
}

.service-title {
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;
    letter-spacing: 0.64px;
}

.service-big-item {
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.6px;
}