.want {
    margin-top: 256px;
    margin-left: 4px;

}

.want-container {
    padding: 126px 305px 128px 305px;
    text-align: center;
    background: rgba(255, 235, 216, 1);
    border-radius: 20px;
}

.want-text {
    font-size: 57px;
    line-height: 74px;
    letter-spacing: 2.56px;
    margin-bottom: 64px;
}

.want-link {
    font-size: 37px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 1.2px;
    padding-left: 54px;
}